.home_contant {
  height: 100%;
  width: 100%;
  .background_image {
    width: 100%;
    height: 350px;
    background-image: url("../../image/dmdrk.jpeg");
  }
  .contant_container {
    width: 100%;
    height: 300px;
    background-color: rgb(223, 203, 203);
  }
}
